.header {
	position: relative;
	z-index: 5;
	& .container{
		padding: 0 15px 0 19px;
	}
}
.header__top {
	padding: 14px 0 12px;
	background: #0877D2;
	color: #fff;
	font-size: 18px;
	line-height: math.div(21, 18) * 100%;
}
.container {}
.header__top-inner{
	display: flex;
	align-items: center;
}
.header__place {}
.place-header {
	display: flex;
	align-items: center;
}
.place-header__label {
	text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	margin: 0 37px 0 0;
}
.place-header__icon{
	display: inline-block;
	margin: 0 15px 0 0;
	filter: drop-shadow(0px 4px 20px rgba(0,0,0,0.25));
}
.place-header__link {
	display: inline-block;
	color: #fff;
	line-height: math.div(21,18) * 100%;
	border-bottom: 1px solid #fff;
	&:hover,
	&:visited{
		color: #fff;
	}
}
.header__social {}
.social-header {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	justify-content: center;
	padding: 0 0 0 78px;
	margin: 0 15px 0 0;
}
.social-header__label {
	display: inline-block;
	margin: 0px 13px 0 0;
}
.social-header__list {
	display: flex;
	align-items: center;
	& li:not(:last-child) {
		margin: 0 11px 0 0;
	}
}
.social-header__link {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header__feedback {
	margin-left: auto;
	margin-right: 24px;
	display: flex;
	align-items: center;
}
.feedback-header {}
.feedback-header__list {
	margin: 0 15px 0 0;
	display: flex;
	align-items: center;
	& li:not(:last-child){
		margin: 0 13px 0 0;
	}
	& li{
		position: relative;
		top: 2px;
	}
}
.feedback__link {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.feedback-header__link{
	color: #fff;
	letter-spacing: 0.1px;
	line-height: math.div(21,18) * 100%;
	border-bottom: 1px solid #fff;
}
.header__phone {}
.header__phone-link {
	display: flex;
	color: #fff;
	&:hover,
	&:visited{
		color: #fff;
	}
}
.header__phone-number{
	text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.header__phone-icon{
	display: inline-block;
	margin: 0 12px 0 0;
	filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
.header__main {
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}
.main-header {
}
.main-header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 60px;

}
.header__menu {
	position: relative;
}
.menu-header {}
.menu-header__burger {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}
.menu-header__icon {}
.menu__icon {
	z-index: 5;
	display: block;
	position: relative;
	width: 27px;
	height: 18px;
	cursor: pointer;
	margin: 0px 14px 0 0px;
}
.menu__icon span,
.menu__icon::before,
.menu__icon::after {
	left: 0;
	position: absolute;
	height: 3px;
	width: 100%;
	transition: all 0.3s ease 0s;
	background-color: #1C4F8B;
	border-radius: 8px;
}
.menu__icon::before,
.menu__icon::after {
	content: "";
}
.menu__icon::before {
	top: 0;
}
.menu__icon::after {
	bottom: 0;
}
.menu__icon span {
	top: 50%;
	transform: scale(1) translate(0px, -50%);
}
.menu-header__burger.active .menu__icon span{
	transform: scale(0) translate(0px, -50%);
}
.menu-header__burger.active .menu__icon::before{
	transform: translate(0px, -50%) rotate(45deg);
	top: 50%;
	background: #0A0F32;
}
.menu-header__burger.active .menu__icon::after{
	transform: translate(0px, 50%) rotate(-45deg);
	bottom: 50%;
	background: #0A0F32;
}
.header__menu.active .menu{
	display: block;
}
.menu-header__label {
	font-weight: 300;
	font-size: 18px;
	line-height: math.div(21, 18) * 100%;
	color: #1C4F8B;
	letter-spacing: 0.3px;
	transition: all 0.3s ease 0s;
}
.menu-header__burger.active .menu-header__label{
	color: #0A0F32;
}
.menu {
	position: absolute;
	min-width: 352px;
	top: 41px;
	background-color: #fff;
	padding: 21px 33px 40px 40px;
	display: flex;
	flex-direction: column;
	// overflow: auto;
	z-index: 20;
	display: none;
}
.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(7, 18, 32, 0.74);
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease 0s;
	&.active{
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
}
.menu__list {
	margin: 0 0 20px;
}
.menu__item:last-child .menu__link{
	border: none;
}
.menu__link {
	display: inline-block;
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px solid #C2C2C2;
	font-size: 18px;
	line-height: math.div(21, 18) * 100%;
	font-weight: 300;
	color: currentColor;
	transition: all .2s ease 0s;
	&:hover{
		color: #F81C19;
	}
}
.menu__link_current{
	color: #F81C19;
	font-weight: 400;
}
.menu__button {
	padding: 15px;
	width: 100%;
}
.btn-red{
	background: linear-gradient(255.29deg, #F81C19 7.31%, #C41513 96.79%);
	box-shadow: 0px 20px 30px rgba(164, 18, 16, 0.38), 
	0px 4px 0px #8E0A08, 
	inset 0px 4px 4px rgba(255, 255, 255, 0.25);
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 60px;
	font-weight: 500;
	color: #fff;
	font-size: 18px;
	line-height: math.div(21, 18) * 100%;
	text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
	transition: backgorund .3s linear 0s;
	&:hover,
	&:active,
	&:visited {
		color: #fff;
	}
	@media (any-hover: hover) {
		&:hover{
			background: linear-gradient(255.29deg,#831f1e 7.31%,#db1d1a 96.79%);
		}
	}
}

.header__destination {}
.destination {
	display: flex;
	align-items: center;
}
.destination__list {
	display: flex;
	align-items: center;
}
.destination__link {
	font-weight: 300;
	font-size: 18px;
	line-height: math.div(21, 18) * 100%;
	display: inline-block;
	padding: 15px 35px;
	position: relative;
	letter-spacing: 0.1px;
	color: #0A0F32;
	font-weight: 300;
}
.destination__link::before{
	content: url('../img/icons/dest-border.svg');
	position: absolute;
	right: -1px;
	top: 50%;
	transform: translate(0, -50%);
}
.destination__list li:last-child .destination__link::before{
	content: none;
}
.destination__link-red {
	height: 100%;
	padding: 20px 21px 20px 19px;
	background: #F81C19;
	box-shadow: 0px 4px 50px -10px #8F1413;
	font-weight: 500;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 18px;
	line-height: math.div(21, 18) * 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1px;
	&:hover,
	&:active,
	&:visited {
		color: #fff;
	}
}


.place-header.mobile{
	display: none;
}
.header__phone.mobile{
	display: none;
}
.feedback-header__link.mobile{
	display: none;
}
.social-header.mobile{
	display: none;
}
.menu__item_hidden{
	display: none;
}
.header__logo.mobile{
	display: none;
}
.header__call.mobile{
	display: none;
}

